[submodule "mrwr-language-translation"]
	path = mrwr-language-translation
	url = git@github.com:ensomugnog/mrwr-language-translation.git
	branch = main
[submodule "mrwr-jsx"]
	path = mrwr-jsx
	url = git@github.com:ensomugnog/mrwr-jsx.git
	branch = main
[submodule "mrwr-quick-practice-with-jsx"]
	path = mrwr-quick-practice-with-jsx
	url = git@github.com:ensomugnog/mrwr-quick-practice-with-jsx.git
	branch = main
[submodule "mrwr-practice-jsx-conversion"]
	path = mrwr-practice-jsx-conversion
	url = git@github.com:ensomugnog/mrwr-practice-jsx-conversion.git
	branch = main
[submodule "mrwr-pdas"]
	path = mrwr-pdas
	url = git@github.com:ensomugnog/mrwr-pdas.git
	branch = main
[submodule "mrwr-practice-with-props"]
	path = mrwr-practice-with-props
	url = git@github.com:ensomugnog/mrwr-practice-with-props.git
	branch = main
[submodule "mrwr-animals"]
	path = mrwr-animals
	url = git@github.com:ensomugnog/mrwr-animals.git
	branch = main
[submodule "mrwr-exercise-with-events"]
	path = mrwr-exercise-with-events
	url = git@github.com:ensomugnog/mrwr-exercise-with-events.git
	branch = main
[submodule "mrwr-pics"]
	path = mrwr-pics
	url = git@github.com:ensomugnog/mrwr-pics.git
	branch = main
[submodule "mrwr-creating-a-controlled-input"]
	path = mrwr-creating-a-controlled-input
	url = git@github.com:ensomugnog/mrwr-creating-a-controlled-input.git
	branch = main
